`:sort-refs:` document attribute should not crash xml2rfc when not given `true` or `false` as value

From https://github.com/cisba/i-d_dlts/pull/1#issuecomment-1782171074

From @opoudjis :

I will review the RFC XML v3 spec and see what discussion there has been, if any, about sorting references, and what has currently been implemented as the sort order.

https://github.com/metanorma/metanorma-ietf/issues/192

But I have had a backlog of 100 tickets for the past 3 years, and one of the major reasons for that is making things more flexible for users. And you will have noticed how unresponsive I have been for the past three weeks: I have been knee-deep in ISO 10303, which has an end-of-year deadline, and is extremely difficult to keep straight.

So the answer to that question may be "no", depending on how it is currently implemented, and what the existing practice is.

One thing that may short circuit this entire discussion: try

```
:sort-refs:
```
in the document header attributes. That passes on the sort-refs directive to xml2rfc, and if that directive is working, it may sort the references the way IETF wants to see them sorted.

--------

According to: https://www.metanorma.org/author/ietf/ref/document-attributes/

<img width="795" alt="Screenshot 2023-10-31 at 1 36 00 PM" src="https://github.com/metanorma/metanorma-ietf/assets/11865/565e67d8-6fb5-47a5-97b3-909ec8183990">

But specifying this attribute leads to this error:

```
draft-intesigroup-dlts.rfc.xml(9): Error: Invalid attribute sortRefs for element rfc, at /rfc
draft-intesigroup-dlts.rfc.xml(9): Error: Invalid document before running preptool.
```


Cannot replicate, I don't get such an error at all.

## sort-refs

There is a not-so-subtle difference in the attribute setting between ours:

Me:
```
:sort-refs:
```

=>

```
RFC XML: Line 000009:179 value of attribute "sortRefs" is invalid; must be equal to "false" or "true"
...
```

You:
```
:sort-refs: true
```

I'd imagine that maybe we should support the `:sort-refs:` declaration itself without needing to state `true` because that's the typical AsciiDoc practice.

e.g. 
```
:local-cache-only:
:data-uri-image:
```

## Not building

Actually I was using an older `xml2rfc` version. Now at 3.18.2, the document doesn't build, and it is a Metanorma IETF problem.

The real error is:
```
RFC XML: <relref target="RFC6962" section="2.1"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC5652" section="1.3"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC5652" section="5.3"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC5652" section="10.2.4"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC3161" section="2.4.2"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC5652" section="5.3"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC3161" section="2.4.2"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC4210" section="5.2.3"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC3161" section="2.4"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC5280" section="4.2"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC3161" section="2.4.2"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC4210" section="5.2.3"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC3161" section="4"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
Cannot continue processing
```

There is some issue with bibliography processing that `xml2rfc` fails to recognize that the Metanorma references to RFCs are not identified as "RFC".

These are references that have a locality, which used to work before (with the older xml2rfc):

```adoc
... <<RFC5652,section=10.2.4>>
```

So Metanorma-IETF needs to fix citations for RFCs (and possibly Internet-Drafts) with a locality is given.


> I'd imagine that maybe we should support the :sort-refs: declaration itself without needing to state true because that's the typical AsciiDoc practice.

That's nice. Not a priority.

> There is some issue with bibliography processing that xml2rfc fails to recognize that the Metanorma references to RFCs are not identified as "RFC".

Moved to https://github.com/metanorma/metanorma-ietf/issues/196
