RFC document not recognised as such in bibliography

https://github.com/metanorma/metanorma-ietf/issues/194

Actually I was using an older `xml2rfc` version. Now at 3.18.2, the document doesn't build, and it is a Metanorma IETF problem.

The real error is:
```
RFC XML: <relref target="RFC6962" section="2.1"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC5652" section="1.3"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC5652" section="5.3"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC5652" section="10.2.4"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC3161" section="2.4.2"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC5652" section="5.3"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC3161" section="2.4.2"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC4210" section="5.2.3"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC3161" section="2.4"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC5280" section="4.2"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC3161" section="2.4.2"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC4210" section="5.2.3"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
RFC XML: <relref target="RFC3161" section="4"/> must use a relative attribute, since it does not point to a RFC or Internet-Draft reference
Cannot continue processing
```

There is some issue with bibliography processing that `xml2rfc` fails to recognize that the Metanorma references to RFCs are not identified as "RFC".

These are references that have a locality, which used to work before (with the older xml2rfc):

```adoc
... <<RFC5652,section=10.2.4>>
```

So Metanorma-IETF needs to fix citations for RFCs (and possibly Internet-Drafts) with a locality is given.


Has been fixed in https://github.com/relaton/relaton-ietf/issues/119, which alerted Metanorma that "RFC Publisher" is a publisher of IETF standards. (This was news to metanorma-ietf.)