rfc-* Repositories, Error: Invalid document before running preptool.

### Scope 

For repositories:
  - https://github.com/metanorma/rfc-divination-cfapi
  - https://github.com/metanorma/rfc-camelot-holy-grenade
  - https://github.com/metanorma/rfc-asciidoc-rfc
  - https://github.com/metanorma/rfc-asciirfc-minimal

### Problem

We have a problem with compilation As far as I understood it related to error from `xml2rfc`
<details><summary>xml2rfc error log</summary>
<p>

```
2020-04-03T23:27:19.1229720Z draft-ribose-asciirfc.rfc.xml(734): Error: Did not expect element t there, at /rfc/middle/section[4]/section[4]/t[9]/tt[1]/t
2020-04-03T23:27:19.1230116Z draft-ribose-asciirfc.rfc.xml(1651): Error: Did not expect text in element section content, at /rfc/middle/section[15]/section
2020-04-03T23:27:19.1230372Z   Unexpected text:
2020-04-03T23:27:19.1230565Z     ; cross-references
2020-04-03T23:27:19.1230754Z with custom text as
2020-04-03T23:27:19.1230949Z   Unexpected text:
2020-04-03T23:27:19.1231158Z     .
2020-04-03T23:27:19.1231920Z draft-ribose-asciirfc.rfc.xml(1651): Error: Element section has extra content: text, at /rfc/middle/section[15]/section
2020-04-03T23:27:19.1232413Z draft-ribose-asciirfc.rfc.xml(1661): Error: Did not expect element t there, at /rfc/middle/section[15]/t[1]
2020-04-03T23:27:19.1232642Z draft-ribose-asciirfc.rfc.xml(1661): Error: Element section has extra content: t, at /rfc/middle/section[15]/t[1]
2020-04-03T23:27:19.1232863Z draft-ribose-asciirfc.rfc.xml(3956): Error: Did not expect element references there, at /rfc/back/references[1]
2020-04-03T23:27:19.1233088Z draft-ribose-asciirfc.rfc.xml(8): Error: Invalid attribute category for element rfc, at /rfc
2020-04-03T23:27:19.1233312Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7990", at None
2020-04-03T23:27:19.1233499Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "AsciiMathML", at None
2020-04-03T23:27:19.1233907Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "git-camelot-holy-grenade", at None
2020-04-03T23:27:19.1234136Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7991", at None
2020-04-03T23:27:19.1234795Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7991", at None
2020-04-03T23:27:19.1235092Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7991", at None
2020-04-03T23:27:19.1235339Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "git-divination-cfapi", at None
2020-04-03T23:27:19.1235581Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC5385", at None
2020-04-03T23:27:19.1235825Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "pandoc2rfc", at None
2020-04-03T23:27:19.1236179Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7996", at None
2020-04-03T23:27:19.1236457Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor", at None
2020-04-03T23:27:19.1236757Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor", at None
2020-04-03T23:27:19.1236994Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor", at None
2020-04-03T23:27:19.1237399Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7328", at None
2020-04-03T23:27:19.1237630Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "draftr", at None
2020-04-03T23:27:19.1237861Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "AsciiDoc", at None
2020-04-03T23:27:19.1238095Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "AsciiDoc", at None
2020-04-03T23:27:19.1238483Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "AsciiDoc", at None
2020-04-03T23:27:19.1238706Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7763", at None
2020-04-03T23:27:19.1238959Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "datatracker-camelot-holy-grenade", at None
2020-04-03T23:27:19.1239191Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7749", at None
2020-04-03T23:27:19.1239415Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7749", at None
2020-04-03T23:27:19.1239637Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "I-D.wu-netmod-yang-xml-doc-conventions", at None
2020-04-03T23:27:19.1239874Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "I-D.asciirfc-minimal", at None
2020-04-03T23:27:19.1240095Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "lyx2rfc", at None
2020-04-03T23:27:19.1240420Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "I-D.divination-cfapi", at None
2020-04-03T23:27:19.1240649Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "datatracker-asciirfc-minimal", at None
2020-04-03T23:27:19.1240988Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC8174", at None
2020-04-03T23:27:19.1433462Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC2119", at None
2020-04-03T23:27:19.1433901Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC2119", at None
2020-04-03T23:27:19.1434190Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "I-D.camelot-holy-grenade", at None
2020-04-03T23:27:19.1434427Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "datatracker-divination-cfapi", at None
2020-04-03T23:27:19.1434625Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7764", at None
2020-04-03T23:27:19.1434876Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "mmark", at None
2020-04-03T23:27:19.1435094Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "TeX-LaTeX", at None
2020-04-03T23:27:19.1435316Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "kramdown-rfc2629", at None
2020-04-03T23:27:19.1435534Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "git-asciirfc-minimal", at None
2020-04-03T23:27:19.1436378Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor-Manual", at None
2020-04-03T23:27:19.1436712Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor-Manual", at None
2020-04-03T23:27:19.1436950Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor-Manual", at None
2020-04-03T23:27:19.1437165Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "asciidoctor-rfc", at None
2020-04-03T23:27:19.1437386Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "asciidoctor-rfc", at None
2020-04-03T23:27:19.1437605Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "NroffEdit", at None
2020-04-03T23:27:19.1438000Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "MathJax", at None
2020-04-03T23:27:19.1438241Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "asciidoctor_bibliography", at None
2020-04-03T23:27:19.1438647Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "asciidoctor_bibliography", at None
2020-04-03T23:27:19.1439137Z draft-ribose-asciirfc.rfc.xml(8): Error: Invalid document before running preptool.
2020-04-03T23:27:19.1439372Z Unable to complete processing draft-ribose-asciirfc.rfc.xml
2020-04-03T23:27:19.7050309Z draft-ribose-asciirfc.rfc.xml(734): Error: Did not expect element t there, at /rfc/middle/section[4]/section[4]/t[9]/tt[1]/t
2020-04-03T23:27:19.7055455Z draft-ribose-asciirfc.rfc.xml(1651): Error: Did not expect text in element section content, at /rfc/middle/section[15]/section
2020-04-03T23:27:19.7061089Z   Unexpected text:
2020-04-03T23:27:19.7063569Z     ; cross-references
2020-04-03T23:27:19.7065818Z with custom text as
2020-04-03T23:27:19.7067912Z   Unexpected text:
2020-04-03T23:27:19.7072095Z     .
2020-04-03T23:27:19.7080946Z draft-ribose-asciirfc.rfc.xml(1651): Error: Element section has extra content: text, at /rfc/middle/section[15]/section
2020-04-03T23:27:19.7095578Z draft-ribose-asciirfc.rfc.xml(1661): Error: Did not expect element t there, at /rfc/middle/section[15]/t[1]
2020-04-03T23:27:19.7096303Z draft-ribose-asciirfc.rfc.xml(1661): Error: Element section has extra content: t, at /rfc/middle/section[15]/t[1]
2020-04-03T23:27:19.7096543Z draft-ribose-asciirfc.rfc.xml(3956): Error: Did not expect element references there, at /rfc/back/references[1]
2020-04-03T23:27:19.7096770Z draft-ribose-asciirfc.rfc.xml(8): Error: Invalid attribute category for element rfc, at /rfc
2020-04-03T23:27:19.7097092Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7990", at None
2020-04-03T23:27:19.7097717Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "AsciiMathML", at None
2020-04-03T23:27:19.7098024Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "git-camelot-holy-grenade", at None
2020-04-03T23:27:19.7098269Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7991", at None
2020-04-03T23:27:19.7098516Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7991", at None
2020-04-03T23:27:19.7098752Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7991", at None
2020-04-03T23:27:19.7099152Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "git-divination-cfapi", at None
2020-04-03T23:27:19.7099382Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC5385", at None
2020-04-03T23:27:19.7099579Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "pandoc2rfc", at None
2020-04-03T23:27:19.7099813Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7996", at None
2020-04-03T23:27:19.7100151Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor", at None
2020-04-03T23:27:19.7100416Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor", at None
2020-04-03T23:27:19.7100862Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor", at None
2020-04-03T23:27:19.7101425Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7328", at None
2020-04-03T23:27:19.7101635Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "draftr", at None
2020-04-03T23:27:19.7101845Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "AsciiDoc", at None
2020-04-03T23:27:19.7102057Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "AsciiDoc", at None
2020-04-03T23:27:19.7102492Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "AsciiDoc", at None
2020-04-03T23:27:19.7102729Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7763", at None
2020-04-03T23:27:19.7102974Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "datatracker-camelot-holy-grenade", at None
2020-04-03T23:27:19.7103201Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7749", at None
2020-04-03T23:27:19.7103423Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7749", at None
2020-04-03T23:27:19.7103648Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "I-D.wu-netmod-yang-xml-doc-conventions", at None
2020-04-03T23:27:19.7103876Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "I-D.asciirfc-minimal", at None
2020-04-03T23:27:19.7104101Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "lyx2rfc", at None
2020-04-03T23:27:19.7104328Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "I-D.divination-cfapi", at None
2020-04-03T23:27:19.7104836Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "datatracker-asciirfc-minimal", at None
2020-04-03T23:27:19.7105236Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC8174", at None
2020-04-03T23:27:19.7281740Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC2119", at None
2020-04-03T23:27:19.7282305Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC2119", at None
2020-04-03T23:27:19.7282791Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "I-D.camelot-holy-grenade", at None
2020-04-03T23:27:19.7283040Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "datatracker-divination-cfapi", at None
2020-04-03T23:27:19.7283283Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7764", at None
2020-04-03T23:27:19.7283522Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "mmark", at None
2020-04-03T23:27:19.7283749Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "TeX-LaTeX", at None
2020-04-03T23:27:19.7283985Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "kramdown-rfc2629", at None
2020-04-03T23:27:19.7284225Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "git-asciirfc-minimal", at None
2020-04-03T23:27:19.7284455Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor-Manual", at None
2020-04-03T23:27:19.7284804Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor-Manual", at None
2020-04-03T23:27:19.7285072Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "Asciidoctor-Manual", at None
2020-04-03T23:27:19.7285312Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "asciidoctor-rfc", at None
2020-04-03T23:27:19.7285546Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "asciidoctor-rfc", at None
2020-04-03T23:27:19.7285742Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "NroffEdit", at None
2020-04-03T23:27:19.7285969Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "MathJax", at None
2020-04-03T23:27:19.7286533Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "asciidoctor_bibliography", at None
2020-04-03T23:27:19.7286755Z draft-ribose-asciirfc.rfc.xml(0): Error: IDREF attribute target references an unknown ID "asciidoctor_bibliography", at None
2020-04-03T23:27:19.7287037Z draft-ribose-asciirfc.rfc.xml(8): Error: Invalid document before running preptool.
2020-04-03T23:27:19.7287287Z Unable to complete processing draft-ribose-asciirfc.rfc.xml
```

</p>
</details>

### Details

I found that for metanorma 1.1.8 compilation works successfully

These documents need to be rewritten to align with the current metanorma-ietf, which is only compatible with v3 RFC XML. I have not done so, and I have a lot more urgent work than to do so.

@opoudjis thanks for the explanation in case if you know any commit where we did similar tasks please leave it here

Generally the issues is fixed, now we have repo-specific issues