`idnits` warnings and RFC XML structure updates

From:
* https://github.com/pdf-association/rfc-application-pdf/pull/2

```
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
                    idnits ▶ 3.0.0-alpha.57                     
▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀

 Path  _site/documents/draft-pdf-application-pdf.rfc.xml
 Mode  normal [0]

☑️ Pre-parsing validations
☑️ Parsing document
☑️ Common validations
☑️ XML-specific validations

❌ Review the 9 errors, 43 warnings, 1 comment listed below.

███████▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
 ERROR  9 nits of ⛔ error severity
███████▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

 1  FILENAME_TOO_MANY_DOTS
 └- Desc - Filename cannot have more than 1 dot, only to separate the base name from the extension.
 └- Ref  - https://authors.ietf.org/naming-your-internet-draft

 2  FILENAME_EXTENSION_INVALID
 └- Desc - Filename extension must be either .txt or .xml.
 └- Ref  - https://authors.ietf.org/naming-your-internet-draft

 3  FILENAME_INVALID_VERSION_SUFFIX
 └- Desc - Filename must end with a version in format 00.
 └- Ref  - https://authors.ietf.org/naming-your-internet-draft

 4  FILENAME_DOCNAME_MISMATCH
 └- Desc - Filename does not match the name declared in the document.
 └- Ref  - https://authors.ietf.org/naming-your-internet-draft

 5  INVALID_ABSTRACT_SECTION_CHILD
 └- Desc - The abstract section must consist of <dl>, <ol>, <t> or <ul> elements only.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-2.1
 └- Path - rfc.front.abstract._attr

 6  INVALID_ABSTRACT_SECTION_REF
 └- Desc - The abstract section should not contain references.
 └- Ref  - https://authors.ietf.org/required-content#abstract
 └- Path - rfc.front.abstract.t.xref

 7  MISSING_REFERENCES_TITLE
 └- Desc - The references section is missing a title attribute.
 └- Ref  - https://authors.ietf.org/required-content#references
 └- Path - rfc.back.references[0].title

 8  MISSING_REFERENCES_TITLE
 └- Desc - The references section is missing a title attribute.
 └- Ref  - https://authors.ietf.org/required-content#references
 └- Path - rfc.back.references[0].title

 9  MISSING_REQLEVEL_REF
 └- Desc - An RFC2119 boilerplate is present but no reference to the RFC2119 was found.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7322.html#section-4.8.2

█████████▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
 WARNING  43 nits of ⚠️ warning severity
█████████▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

 10  MISSING_AUTHOR_FULLNAME
 └- Desc - The author fullname attribute is missing.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#author
 └- Path - rfc.front.author[0].fullname

 11  MISSING_AUTHOR_FULLNAME
 └- Desc - The author fullname attribute is missing.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#author
 └- Path - rfc.front.author[1].fullname

 12  MISSING_AUTHOR_FULLNAME
 └- Desc - The author fullname attribute is missing.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#author
 └- Path - rfc.front.author[2].fullname

 13  MISSING_DOC_DATE
 └- Desc - The document date could not be determined.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#date

 14  MISSING_NOTRECOMMENDED_IN_BOILERPLATE
 └- Desc - The keyword NOT RECOMMENDED appears but not included in the RFC2119 boilerplate.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7322.html#section-4.8.2

 15  OBSOLETES_NOT_IN_ABSTRACT
 └- Desc - The document states that it obsoletes RFC RFC 3778 but doesn't explicitely mention it in the <abstract> section.
 └- Ref  - https://authors.ietf.org/en/required-content#abstract
 └- Path - rfc.front.abstract

 16  OBSOLETES_NOT_IN_ABSTRACT
 └- Desc - The document states that it obsoletes RFC 10.17487/RFC3778 but doesn't explicitely mention it in the <abstract> section.
 └- Ref  - https://authors.ietf.org/en/required-content#abstract
 └- Path - rfc.front.abstract

 17  OBSOLETES_NOT_IN_ABSTRACT
 └- Desc - The document states that it obsoletes RFC RFC 8118 but doesn't explicitely mention it in the <abstract> section.
 └- Ref  - https://authors.ietf.org/en/required-content#abstract
 └- Path - rfc.front.abstract

 18  OBSOLETES_NOT_IN_ABSTRACT
 └- Desc - The document states that it obsoletes RFC 10.17487/RFC8118 but doesn't explicitely mention it in the <abstract> section.
 └- Ref  - https://authors.ietf.org/en/required-content#abstract
 └- Path - rfc.front.abstract

 19  OBSOLETES_RFC_NOT_FOUND
 └- Desc - The <rfc> field states that it obsoletes RFC RFC 3778 but no matching RFC could be found on rfc-editor.org.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#obsoletes
 └- Path - rfc.obsoletes

 20  OBSOLETES_RFC_NOT_FOUND
 └- Desc - The <rfc> field states that it obsoletes RFC 10.17487/RFC3778 but no matching RFC could be found on rfc-editor.org.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#obsoletes
 └- Path - rfc.obsoletes

 21  OBSOLETES_RFC_NOT_FOUND
 └- Desc - The <rfc> field states that it obsoletes RFC 10.17487/RFC8118 but no matching RFC could be found on rfc-editor.org.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#obsoletes
 └- Path - rfc.obsoletes

 22  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[0].format

 23  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[1].format

 24  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[2].format

 25  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[3].format

 26  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[4].format

 27  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[5].format

 28  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[6].format

 29  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[7].format

 30  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[8].format

 31  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[9].format

 32  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[0].format

 33  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[1].format

 34  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[2].format

 35  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[3].format

 36  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[4].format

 37  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[5].format

 38  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[6].format

 39  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[7].format

 40  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[8].format

 41  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[9].format

 42  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[10].format

 43  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[11].format

 44  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[12].format

 45  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[13].format

 46  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[14].format

 47  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[15].format

 48  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[16].format

 49  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[17].format

 50  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[18].format

 51  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[19].format

 52  MISSING_EXPECTED_BOILERPLATE
 └- Desc - Expected boilerplate text not found (regex: /^This Internet-Draft is submitted in full conformance\s+with the provisions of BCP 78 and BCP 79\.$/m) for ipr="trust200902".
 └- Ref  - https://authors.ietf.org
 └- Path - rfc.boilerplate

█████████▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
 COMMENT  1 nit of ℹ️ comment severity
█████████▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

 53  NON_ASCII_UTF8
 └- Desc - Review RFC7997 to ensure your document respects UTF-8 rules for non-ASCII.
 └- Ref  - https://datatracker.ietf.org/doc/html/rfc7997#section-3

----------------------------------------------------------------

❌ Review the 9 errors, 43 warnings, 1 comment listed above.
```

These are the nits that apply to Metanorma implementation:

```
 5  INVALID_ABSTRACT_SECTION_CHILD
 └- Desc - The abstract section must consist of <dl>, <ol>, <t> or <ul> elements only.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-2.1
 └- Path - rfc.front.abstract._attr

 7  MISSING_REFERENCES_TITLE
 └- Desc - The references section is missing a title attribute.
 └- Ref  - https://authors.ietf.org/required-content#references
 └- Path - rfc.back.references[0].title

 8  MISSING_REFERENCES_TITLE
 └- Desc - The references section is missing a title attribute.
 └- Ref  - https://authors.ietf.org/required-content#references
 └- Path - rfc.back.references[0].title

 10  MISSING_AUTHOR_FULLNAME
 └- Desc - The author fullname attribute is missing.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#author
 └- Path - rfc.front.author[0].fullname

 11  MISSING_AUTHOR_FULLNAME
 └- Desc - The author fullname attribute is missing.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#author
 └- Path - rfc.front.author[1].fullname

 12  MISSING_AUTHOR_FULLNAME
 └- Desc - The author fullname attribute is missing.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#author
 └- Path - rfc.front.author[2].fullname

 13  MISSING_DOC_DATE
 └- Desc - The document date could not be determined.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#date

 15  OBSOLETES_NOT_IN_ABSTRACT
 └- Desc - The document states that it obsoletes RFC RFC 3778 but doesn't explicitely mention it in the <abstract> section.
 └- Ref  - https://authors.ietf.org/en/required-content#abstract
 └- Path - rfc.front.abstract

 16  OBSOLETES_NOT_IN_ABSTRACT
 └- Desc - The document states that it obsoletes RFC 10.17487/RFC3778 but doesn't explicitely mention it in the <abstract> section.
 └- Ref  - https://authors.ietf.org/en/required-content#abstract
 └- Path - rfc.front.abstract

 17  OBSOLETES_NOT_IN_ABSTRACT
 └- Desc - The document states that it obsoletes RFC RFC 8118 but doesn't explicitely mention it in the <abstract> section.
 └- Ref  - https://authors.ietf.org/en/required-content#abstract
 └- Path - rfc.front.abstract

 18  OBSOLETES_NOT_IN_ABSTRACT
 └- Desc - The document states that it obsoletes RFC 10.17487/RFC8118 but doesn't explicitely mention it in the <abstract> section.
 └- Ref  - https://authors.ietf.org/en/required-content#abstract
 └- Path - rfc.front.abstract

 19  OBSOLETES_RFC_NOT_FOUND
 └- Desc - The <rfc> field states that it obsoletes RFC RFC 3778 but no matching RFC could be found on rfc-editor.org.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#obsoletes
 └- Path - rfc.obsoletes

 20  OBSOLETES_RFC_NOT_FOUND
 └- Desc - The <rfc> field states that it obsoletes RFC 10.17487/RFC3778 but no matching RFC could be found on rfc-editor.org.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#obsoletes
 └- Path - rfc.obsoletes

 21  OBSOLETES_RFC_NOT_FOUND
 └- Desc - The <rfc> field states that it obsoletes RFC 10.17487/RFC8118 but no matching RFC could be found on rfc-editor.org.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#obsoletes
 └- Path - rfc.obsoletes

 22  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[0].format

 23  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[1].format

 24  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[2].format

 25  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[3].format

 26  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[4].format

 27  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[5].format

 28  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[6].format

 29  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[7].format

 30  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[8].format

 31  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[0].reference[9].format

 32  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[0].format

 33  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[1].format

 34  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[2].format

 35  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[3].format

 36  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[4].format

 37  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[5].format

 38  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[6].format

 39  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[7].format

 40  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[8].format

 41  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[9].format

 42  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[10].format

 43  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[11].format

 44  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[12].format

 45  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[13].format

 46  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[14].format

 47  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[15].format

 48  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[16].format

 49  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[17].format

 50  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[18].format

 51  DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.back.references[1].reference[19].format

 53  NON_ASCII_UTF8
 └- Desc - Review RFC7997 to ensure your document respects UTF-8 rules for non-ASCII.
 └- Ref  - https://datatracker.ietf.org/doc/html/rfc7997#section-3
```

Abstract can only contain t = p, dl, ol, ul. Everything else needs to be converted to a paragraph.

No, deleted. I already delete notes from abstracts; I will delete examples, tables, sourcecode, blockquotes.

Also, need to strip xrefs from abstracts: reusing method already used for sourcecode

MISSING_AUTHOR_FULLNAME: I cannot replicate that, I am getting `author/@fullname` generating fine in rfc-application-pdf/_site/documents