Metanorma failin g to generate rfc xml

Made a number of changes to the iana portion of the doc at https://github.com/CalConnect/cc-ical-tasks

Last time I ran metanorma on this doc was probably February. Now I get these errors

```
metanorma --type ietf sources/draft-ietf-calext-ical-tasks.adoc

[Lutaml::Model] WARN: Usage of `Lutaml::Model::XmlAdapter::NokogiriAdapter` is deprecated and will be removed in the next major release. Please use `Lutaml::Model::Xml::NokogiriAdapter` instead.

[Lutaml::Model] WARN: Usage of `Lutaml::Model::XmlAdapter::OxAdapter` is deprecated and will be removed in the next major release. Please use `Lutaml::Model::Xml::OxAdapter` instead.
[DEPRECATION] Template.register_tag is deprecated. Use Environment#register_tag instead. Called from /__tebako_memfs__/lib/ruby/gems/3.1.0/gems/metanorma-plugin-glossarist-0.2.3/lib/metanorma/plugin/glossarist/dataset_preprocessor.rb:15:in `<top (required)>'
[DEPRECATION] Template.register_filter is deprecated. Use Environment#register_filter instead. Called from /__tebako_memfs__/lib/ruby/gems/3.1.0/gems/metanorma-plugin-glossarist-0.2.3/lib/metanorma/plugin/glossarist/dataset_preprocessor.rb:17:in `<top (required)>'
[relaton] INFO: (RFC5545) `RFC5545` does not have a recognised prefix
[relaton] INFO: ((CalConnect Task Architecture V1.0) `(CalConnect Task Architecture V1.0` does not have a recognised prefix
[relaton] INFO: (WsCalendar) `WsCalendar` does not have a recognised prefix
[relaton] INFO: (WfRP) `WfRP` does not have a recognised prefix
Style: (ID _cc073d56-780a-b751-bcb3-372ee50a805a): Hanging paragraph in clause
Style: (ID architecture): Hanging paragraph in clause
Style: (ID task-specification): Hanging paragraph in clause
Style: (ID caldav-support): Hanging paragraph in clause
Document Attributes: IETF: unrecognised working group calext
RFC XML: Line 000064:362 IDREF "RFC8174" without matching ID
RFC XML: Line 000179:189 IDREF "RFC9253" without matching ID
RFC XML: Line 000206:101 IDREF "RFC9253" without matching ID
RFC XML: Line 000214:101 IDREF "RFC9253" without matching ID
RFC XML: Line 000236:101 IDREF "RFC9253" without matching ID
RFC XML: Line 000243:148 IDREF "RFC9253" without matching ID
RFC XML: Line 000712:245 IDREF "RFC4918" without matching ID
RFC XML: Line 000177:669 IDREF "RFC4791" without matching ID
RFC XML: Line 000697:108 IDREF "RFC4791" without matching ID
RFC XML: Line 000735:298 IDREF "RFC4791" without matching ID
RFC XML: Line 000055:243 IDREF "task-specification" without matching ID
RFC XML: Line 000057:268 IDREF "status-reporting" without matching ID
RFC XML: Line 000161:218 IDREF "WfRP" without matching ID
RFC XML: Line 000064:308 IDREF "RFC2119" without matching ID
RFC XML: Line 000767:114 IDREF "prop-task-mode" without matching ID
RFC XML: Line 000834:179 IDREF "prop-task-mode" without matching ID
RFC XML: Line 000842:114 IDREF "prop-task-mode" without matching ID
RFC XML: Line 000845:115 IDREF "prop-task-mode" without matching ID
RFC XML: Line 000848:115 IDREF "prop-task-mode" without matching ID
RFC XML: Line 000851:115 IDREF "prop-task-mode" without matching ID
RFC XML: Line 000854:115 IDREF "prop-task-mode" without matching ID
RFC XML: Line 000260:335 IDREF "attendee-participant" without matching ID
RFC XML: Line 000339:120 IDREF "RFC9074" without matching ID
RFC XML: Line 000260:240 IDREF "RFC9073" without matching ID
RFC XML: Line 000321:101 IDREF "RFC9073" without matching ID
RFC XML: Line 000321:340 IDREF "RFC9073" without matching ID
RFC XML: Line 000341:308 IDREF "RFC9073" without matching ID
RFC XML: Line 000352:254 IDREF "RFC9073" without matching ID
RFC XML: Line 000654:132 IDREF "RFC9073" without matching ID
RFC XML: Line 000341:602 IDREF "appendix-a" without matching ID
RFC XML: Line 000764:115 IDREF "prop-ext-status" without matching ID
RFC XML: Line 000793:115 IDREF "prop-ext-status" without matching ID
RFC XML: Line 000805:115 IDREF "prop-ext-status" without matching ID
RFC XML: Line 000099:772 IDREF "TARCH" without matching ID
RFC XML: Line 000758:111 IDREF "prop-reason" without matching ID
RFC XML: Line 000172:368 IDREF "BPMN" without matching ID
RFC XML: Line 000049:552 IDREF "WsCalendar" without matching ID
RFC XML: Line 000250:654 IDREF "prop-estimated-duration" without matching ID
RFC XML: Line 000755:123 IDREF "prop-estimated-duration" without matching ID
RFC XML: Line 000177:532 IDREF "RFC5546" without matching ID
RFC XML: Line 000447:598 IDREF "RFC5546" without matching ID
RFC XML: Line 000735:240 IDREF "RFC5546" without matching ID
RFC XML: Line 000049:222 IDREF "RFC5545" without matching ID
RFC XML: Line 000051:218 IDREF "RFC5545" without matching ID
RFC XML: Line 000060:244 IDREF "RFC5545" without matching ID
RFC XML: Line 000068:128 IDREF "RFC5545" without matching ID
```
with many more of those following.

Checked github and the metanorma xml gets generated fine. It would be useful if the actions generated the rfc xml and an html version - but that's another issue.

Is this a problem with my source or metanorma. Tried updating metanorma (running on linux) but no updates available - installed via snap.