Wrong tags created for bibliographic items in IETF

https://github.com/metanorma/ietf-rfc-3339

I'm getting these errors:
```
Crossreferences: (XML Line 000169): ABNF does not have a corresponding anchor ID in the bibliography!
Crossreferences: (XML Line 000174): IMAIL-UPDATE does not have a corresponding anchor ID in the bibliography!
Crossreferences: (XML Line 000192): NTP does not have a corresponding anchor ID in the bibliography!
Crossreferences: (XML Line 000235): IMAIL-UPDATE does not have a corresponding anchor ID in the bibliography!
Crossreferences: (XML Line 000239): HOST-REQ does not have a corresponding anchor ID in the bibliography!
Crossreferences: (XML Line 000239): IMAIL-UPDATE does not have a corresponding anchor ID in the bibliography!
Crossreferences: (XML Line 000260): IMAIL-UPDATE does not have a corresponding anchor ID in the bibliography!
Crossreferences: (XML Line 000276): NTP does not have a corresponding anchor ID in the bibliography!
Crossreferences: (XML Line 000355): ABNF does not have a corresponding anchor ID in the bibliography!
Crossreferences: (XML Line 000373): ABNF does not have a corresponding anchor ID in the bibliography!
Metanorma XML Style Warning: (XML Line 000226): Hanging paragraph in clause
Metanorma XML Style Warning: (XML Line 000288): Hanging paragraph in clause
Metanorma XML Style Warning: (XML Line 000392): Table should have title
Metanorma XML Style Warning: (XML Line 000663): Table should have title
Document Attributes: IETF: unrecognised working group Network Working Group
```

Relevant lines from input:
```adoc
[bibliography]
== Informative references

* [[[ZELLER,ZELLER]]], Zeller, C., "Kalender-Formeln", Acta Mathematica, Vol. 9, Nov 1886.

* [[[IMAIL,RFC 822]]], Crocker, D., "Standard for the Format of Arpa Internet Text Messages", STD 11, RFC 822, August 1982.

* [[[IMAIL-UPDATE,RFC 2822]]] Resnick, P., "Internet Message Format", RFC 2822, April 2001.

* [[[ABNF,RFC 2234]]], Crocker, D. and P. Overell, "Augmented BNF for Syntax Specifications: ABNF", RFC 2234, November 1997.

* [[[HOST-REQ,RFC 1123]]], Braden, R., "Requirements for Internet Hosts -- Application and Support", STD 3, RFC 1123, October 1989.

* [[[NTP,RFC 1305]]], Mills, D, "Network Time Protocol (Version 3) Specification, Implementation and Analysis", RFC 1305, March 1992.

* [[[RFC2119,RFC 2119]]], Bradner, S, "Key words for use in RFCs to Indicate Requirement Levels", BCP 14, RFC 2119, March 1997.
```

It looks like for auto-fetched documents, the generated XML RFC uses the auto-fetch ID for the anchor name, instead of the specified anchor name.


> Yes, that was introduced deliberately in #49, and explained in https://github.com/relaton/relaton-ietf/issues/32:

> As you know, XML RFC fragments are assumed to be included from online source; as a result, any relaton source is ignored, and replaced with an <xi:include>. However, that means that the IDs of XML RFC fragments are in fact hard coded into the target document, and need to overwrite any anchors the user has provided.

> So the user is free to reference RFC 7253 as * [[[abc,RFC 7253]]]. But in the output RFC XML I generate, that "abc" anchor must be replaced with RFC 7253, since that is what the RFC XML fragment fetched online will use.

The fix needed here is to reassign all crossreferences to also point to the original ID.

eref and origin are corrected in postprocessing, but at wrong time.