Bug with `[abstract]`

From @douglm:

> My abstract is this:

```adoc
[abstract]
This document defines extensions to the
Internet Calendaring and Scheduling Core Object Specification (iCalendar) (RFC5545)
to provide improved status tracking, scheduling and specification of tasks.

It also defines how Calendaring Extensions to
WebDAV (CalDAV) (RFC 4791) servers can be extended to
support certain automated task management behaviours.
```

What gets generated is this:

```xml
<preface><foreword id="_02d548ac-a85d-43f0-8d18-6d08e1199c6d" obligation="informative"><title>Foreword</title>
<p id="_f2d831a4-b0b1-452f-83f9-c79c9c34670d">It also defines how Calendaring Extensions to
WebDAV (CalDAV) (RFC 4791) servers can be extended to
support certain automated task management behaviours.</p></foreword>
```

Which turns into:

```
Abstract

   It also defines how Calendaring Extensions to WebDAV (CalDAV) (RFC
   4791) servers can be extended to support certain automated task
   management behaviours.
```

That is - we lose the first paragraph. For subscription upgrade I have 3 paragraphs and I just realized I lost the first:

```adoc
[abstract]
This specification introduces an approach to allow subscribers to
calendar feeds to upgrade to a more performant protocol.

This specification updates <<RFC5545>> to add the value DELETED to the
STATUS property.

This specification also updates <<RFC7240>> to add the subscribe-
enhanced-get and limit preferences.
```

became

```
Abstract

   This specification updates [RFC5545] to add the value DELETED to the
   STATUS property.

   This specification also updates [RFC7240] to add the subscribe-
   enhanced-get and limit preferences.
```



That's a markup error. What you want is to indicate that all three paragraphs are the abstract, but the `[abstract]` style attribute is only being applied to the first paragraph. Instead, you want markup like the following, which treats the abstract as a clause:

````
[abstract]
== Abstract
This specification introduces an approach to allow subscribers to
calendar feeds to upgrade to a more performant protocol.

This specification updates RFC5545 to add the value DELETED to the
STATUS property.

This specification also updates RFC7240 to add the subscribe-
enhanced-get and limit preferences.
````

This generates:

Metanorma XML:

````
<preface><abstract id="_abstract"><title>Abstract</title><p id="_39beddde-40ea-4b40-8716-0514b5604b7f">This specification introduces an approach to allow subscribers to
calendar feeds to upgrade to a more performant protocol.</p>
<p id="_0958afb7-3e00-40c7-88b8-95f04cc9040e">This specification updates RFC5545 to add the value DELETED to the
STATUS property.</p>
<p id="_ab922870-0ae7-4868-a04b-3721c9f292c8">This specification also updates RFC7240 to add the subscribe-
enhanced-get and limit preferences.</p></abstract></preface>
````


RFC XML:

````
<abstract anchor="_abstract"><t anchor="_39beddde-40ea-4b40-8716-0514b5604b7f">This specification introduces an approach to allow subscribers to
calendar feeds to upgrade to a more performant protocol.</t>
<t anchor="_0958afb7-3e00-40c7-88b8-95f04cc9040e">This specification updates RFC5545 to add the value DELETED to the
STATUS property.</t>
<t anchor="_ab922870-0ae7-4868-a04b-3721c9f292c8">This specification also updates RFC7240 to add the subscribe-
enhanced-get and limit preferences.</t></abstract>
````

and  RFC TXT:

````
Abstract

   This specification introduces an approach to allow subscribers to
   calendar feeds to upgrade to a more performant protocol.

   This specification updates RFC5545 to add the value DELETED to the
   STATUS property.

   This specification also updates RFC7240 to add the subscribe-
   enhanced-get and limit preferences.

````