AsciiBib entry raising fake asciidoctor error

The AsciiBib entry is actually entered, but asciidoctor warns nonetheless:

```adoc
[bibliography]
== Normative References

* [[[RFC2119,RFC 2119]]]
* [[[RFC7991,RFC 7991]]]
* [[[RFC8174,RFC 8174]]]

[%bibitem]
=== Automatic Cryptographic Validation Protocol
id:: ACVP
contributor::
contributor.person.name.initial:: B.
contributor.person.name.surname:: Fussell
contributor.person.affiliation.organization.name:: Cisco
contributor::
contributor.person.name.initial:: A.
contributor.person.name.surname:: Vassilev
contributor.person.affiliation.organization.name:: National Institute of Standards and Technology
contributor.person.affiliation.organization.abbreviation:: NIST
contributor::
contributor.person.name.initial:: H.
contributor.person.name.surname:: Booth
contributor.person.affiliation.organization.name:: National Institute of Standards and Technology
contributor.person.affiliation.organization.abbreviation:: NIST
contributor::
contributor.role:: publisher
contributor.organization.name:: National Institute of Standards and Technology
contributor.organization.abbreviation:: NIST
date::
date.type:: published
date.value:: 2019-07-01

[bibliography]
== Informative References

```

```
asciidoctor: ERROR: <stdin>: line 111: bibliography sections do not support nested sections
```

The proper output is generated:

```xml
<bibitem id="ACVP">
	<fetched>2020-06-10</fetched>
	<title type="main" format="text/plain" language="en" script="Latn">Automatic Cryptographic Validation Protocol</title>
	<date type="published">
		<on>2019</on>
	</date>
	<contributor>
		<person>
			<name>
				<initial>B.</initial>
				<surname>Fussell</surname>
			</name>
			<affiliation>
				<organization>
					<name>Cisco</name>
				</organization>
			</affiliation>
		</person>
	</contributor>
	<contributor>
		<person>
			<name>
				<initial>A.</initial>
				<surname>Vassilev</surname>
			</name>
			<affiliation>
				<organization>
					<name>National Institute of Standards and Technology</name>
					<abbreviation>NIST</abbreviation>
				</organization>
			</affiliation>
		</person>
	</contributor>
	<contributor>
		<person>
			<name>
				<initial>H.</initial>
				<surname>Booth</surname>
			</name>
			<affiliation>
				<organization>
					<name>National Institute of Standards and Technology</name>
					<abbreviation>NIST</abbreviation>
				</organization>
			</affiliation>
		</person>
	</contributor>
	<contributor>
		<role type="publisher"/>
		<organization>
			<name>National Institute of Standards and Technology</name>
			<abbreviation>NIST</abbreviation>
		</organization>
	</contributor>
</bibitem>
```

Asciidoctor does indeed not support nested sections under `[bibliography]`, and will complain about it. Asciibib relies on sections to delimit new references. If you mix Asciidoctor native and Asciibib sections, that's what's going to happen.

I could hypothetically change the markup of AsciiBib to silence the Asciidoctor warning, by removing the title and using style on definition lists, but I don't believe it is warranted for a warning. 



Pending decision from @ronaldtse 

A macro could take care of this (so long as it encompasses the postprocessing currently done on asciibib in standoc); but it would be changing existing markup, and it's not clear that we could preserve titles as markup.

If we are using a macro it would be:

```adoc
[bibitem]
====
id:: ACVP
title:: ...
....
====
```

But as equally we can input Relaton YAML!

... @ronaldtse is there an action here?

@opoudjis it doesn't seem immediately actionable, but we're keeping the ticket for the future.

Closing since we have bibliographic spans now.