It should be possible to generate a <sourcecode> element without an enclosing <figure>

https://www.metanorma.com/author/ietf/topics/markup/#source-code-listings  says that "In RFC XML, sourcecode elements only occur within a figure wrapper".  This is incorrect, RFC 7991 section 2.48 clearly states that &lt;sourcecode&gt; can appear without a figure.

The issue is that forcing a figure wrapper forces the generation of a figure number.  It would be better to not add the figure wrapper by default.

Note that this is true of &lt;artwork&gt; too.

Thanks.

@petithug thanks! You're right. The text on the site probably came from the migration of v2 documentation, and this is a change to be done in the implementation.

For reference the relevant text is:

https://tools.ietf.org/html/rfc7991#section-2.48

```
2.48.  <sourcecode>

   This element allows the inclusion of source code into the document.

   When rendered, source code is always shown in a monospace font.  When
   <sourcecode> is a child of <figure> or <section>, it provides full
   control of horizontal whitespace and line breaks.  When formatted, it
   is indented relative to the left margin of the enclosing element.  It
   is thus useful for source code and formal languages (such as ABNF
   [RFC5234] or the RNC notation used in this document).  (When
   <sourcecode> is a child of other elements, it flows with the text
   that surrounds it.)  Tab characters (U+0009) inside of this element
   are prohibited.

   For artwork such as character-based art, diagrams of message layouts,
   and so on, use the <artwork> element instead.

   Output formatters that do pagination should attempt to keep source
   code on a single page.  This is to prevent source code that is split
   across pages from looking like two separate pieces of code.

   See Section 5 for a description of how to deal with issues of using
   "&" and "<" characters in source code.

   This element appears as a child element of <blockquote>
   (Section 2.10), <dd> (Section 2.18), <figure> (Section 2.25), <li>
   (Section 2.29), <section> (Section 2.46), <td> (Section 2.56), and
   <th> (Section 2.58).

   Content model: only text content.
```


In fact, the code has been expressly wrapping `sourcecode` in `figure` explicitly, presumably as a holdover from v2 RFC XML. This is indeed not needed in v3, and I'm removing it. 

Thanks @opoudjis !

For some reason, the source code element is still wrapped in a figure element, and I still have to manually remove them.

@petithug are you trying from the master branch? I don't think a release has happened yet. Otherwise we should reopen the ticket.

Yes, I was testing from the master branch.  Same for the 2 other bugs.

Reopening

I had gotten rid of code that was inserting a figure wrapper around sourcecode in postprocessing. I'm seeing that I was still wrapping sourcecode in a figure in initial processing, in case there was a sourcecode caption, since RFC XML does not allow for distinct sourcecode captions. That's unnecessary, and I'm getting rid of it too.

I confirm that this is fixed.  Thanks.